<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220932512200-kh5fn2vrngfkr2e9d1rgl8ti68h2f87v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220932512200-kh5fn2vrngfkr2e9d1rgl8ti68h2f87v</string>
	<key>API_KEY</key>
	<string>AIzaSyDvtESEpQA9ej8b1wNZ2t0yQnSOUOYgP7k</string>
	<key>GCM_SENDER_ID</key>
	<string>220932512200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casualinc.axel</string>
	<key>PROJECT_ID</key>
	<string>casual-182017</string>
	<key>STORAGE_BUCKET</key>
	<string>casual-182017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220932512200:ios:a46baf4269024909a308fd</string>
	<key>DATABASE_URL</key>
	<string>https://casual-182017.firebaseio.com</string>
</dict>
</plist>